<html ng-app="myApp">
    <head>
            <script src="angular-1.7.3/angular.min.js"></script>
    </head>
    <body>
        <div ng-controller = "myController">
                <form name="myForm" novalidate>
                        

                        <p>First Number:<br>
                                <input type="number" name="number1" ng-model="firstnumber" required>
                                <span style="color:red" ng-show="myForm.number1.$dirty && myForm.number1.$invalid">
                                <span ng-show="myForm.number1.$error.required">Number is required.</span>
                                </span>
                        </p>

                             <select  name="type" ng-model="operator">
                                <option value="">--Select Operator--</option>
                                <option ng-repeat="option in arrlist" 
                                value="{{option.id}}">{{option.name}}</option>
                              </select><br/><br/>

                              <p>Second Number:<br>
                                <input type="number" name="number2" ng-model="secondnumber" required>
                                <span style="color:red" ng-show="myForm.number2.$dirty && myForm.number2.$invalid">
                                <span ng-show="myForm.number2.$error.required">Number is required.</span>
                                </span>
                             </p>
                        
                        <input type="submit" ng-click=" result()"/><br/>
                       <p> {{output}} </p>
                        
                        

                      </form>
        </div>

        <script src="indexMain.js"></script>
        <script src="calculatorController.js"></script>
    </body>
</html>


