<div>
    <form>
            First Number: <input type="text" ng-model="firstnumber" ng-bind="firstnumber"><br/><br/>

            Operation <select ng-model="operator">
                    
                    <option value="add">Addition</option>
                    <option value="subtract">Subtraction</option>
                    <option value="multiply">Multiplication</option>
                    <option value="divide">Division</option>
                  </select><br/><br/>
            Second Number: <input type="text" ng-model="secondnumber" ng-bind="secondnumber"><br/>
            
            submit<input type="submit" ng-click=" result()"/><br/>
            {{output}}
            
            

          </form>
</div>
    
