<html ng-app="myApp">
    <head>
            <script src="angular-1.7.3/angular.min.js"></script>
    </head>
    <body>
            <div ng-controller="onclick">
                    <h1>{{model.title}}</h1>
                    <div>
                        <label><input type="radio" name="category" ng-click="model.changeMainDish('Cheese Pizza')"/> Cheese Pizza</label>
                    </div>

                     <div>
                        <label><input type="radio" name="category" ng-click="model.changeMainDish('Pepperoni Pizza')"/> Pepperoni Pizza</label>
                     </div>

                      <div>
                         <label><input type="radio" name="category" ng-click="model.changeMainDish('Margherita  Pizza')"/> Margherita Pizza</label>
                     </div>

                      <div>
                         <label><input type="radio" name="category" ng-click="model.changeMainDish('BBQ Chicken Pizza')"/> BBQ Chicken Pizza</label>
                     </div>

                      <div>
                         <label><input type="radio" name="category" ng-click="model.changeMainDish('Combo Pizza')"/> Combo Pizza</label>
                     </div>

                     <div>
                                <h3>Selected Item</h3>
                                <pre> {{model.mainDish}} </pre>
                            </div>

                    <!-- <a href='#' ng-click='prise("Away")'>Check Prise</a> -->
                   
                    
                    <div>
                        <h3>Special Instuctions</h3>
                        <textarea class="form-control" ng-model="model.specialInstructions"></textarea>
                    </div>

                    <div>
                        <h3>Order Summary</h3>
                        <pre>{{model.mainDish}}</pre>
                        <pre>{{model.specialInstructions}}</pre>
                    </div>
                </div>
                    <script src="onclicModel.js"></script>
                    <script src="onclickControllere.js"></script>
            
                    
    </body>
</html>