<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.min.js"></script>

</head>
<h1 style="color: brown" align="center">Company Page</h1>
<div class="container">
    <div class="col-sm-8 col-sm-offset-2">

        <form name="userForm" ng-submit="submitForm()" novalidate>

            <!-- COMPANYNAME -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.companyName.$invalid && (userForm.companyName.$dirty || submitted)}">
                <label>Company Name</label>
                <input type="text" name="companyName" class="form-control" ng-model="companyName" placeholder="companyName" ng-minlength="4" ng-maxlength="20" ng-required="true">
                <p ng-show="userForm.companyName.$error.required && (userForm.companyName.$dirty || submitted)" class="help-block">username is required.</p>
                <p ng-show="userForm.companyName.$error.minlength && (userForm.companyName.$dirty || submitted)" class="help-block">companyName should contain more than 4 characters.</p>
                <p ng-show="userForm.companyName.$error.maxlength && (userForm.companyName.$dirty || submitted)" class="help-block">companyName should contain less than 20 characters.</p>
            </div>

            <!-- UserEMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.userEmail.$invalid && (userForm.userEmail.$dirty || submitted)}">
                <label>Email</label>
                <input type="email" name="userEmail" class="form-control" ng-model="userEmail" placeholder="UserEmail" ng-minlength="" ng-maxlength="" ng-required="true">
                <p ng-show="userForm.userEmail.$error.required && (userForm.userEmail.$dirty || submitted)" class="help-block">email is required.</p>
            </div>

            <!-- FAX -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.Fax.$invalid && (userForm.Fax.$dirty || submitted)}">
                <label>Fax</label>
                <input type="number" name="Fax" class="form-control" ng-model="Fax" placeholder="Fax" ng-minlength="6" ng-maxlength="20" ng-required="true">
                <p ng-show="userForm.Fax.$error.required && (userForm.Fax.$dirty || submitted)" class="help-block">Fax is required.</p>
                <p ng-show="userForm.Fax.$error.minlength && (userForm.Fax.$dirty || submitted)" class="help-block">Fax should contain more than 6 characters.</p>
                <p ng-show="userForm.Fax.$error.maxlength && (userForm.Fax.$dirty || submitted)" class="help-block">Fax should contain less than 20 characters.</p>
            </div>

            <!-- Registration No -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.RegistartionNo.$invalid && (userForm.RegistartionNo.$dirty || submitted)}">
                <label>Reg.No</label>
                <input type="number" name="RegistartionNo" class="form-control" ng-model="RegistartionNo" placeholder="RegistartionNo" ng-minlength="6" ng-maxlength="20" ng-required="true">
                <p ng-show="userForm.RegistartionNo.$error.required && (userForm.RegistartionNo.$dirty || submitted)" class="help-block">RegistartionNo is required.</p>
                <p ng-show="userForm.RegistartionNo.$error.minlength && (userForm.RegistartionNo.$dirty || submitted)" class="help-block">RegistartionNo should contain more than 6 characters.</p>
                <p ng-show="userForm.RegistartionNo.$error.maxlength && (userForm.RegistartionNo.$dirty || submitted)" class="help-block">RegistartionNo should contain less than 20 characters.</p>
            </div>
            <button type="submit" ng-disabled="!userForm.$valid" class="btn btn-primary" ng-click="addCompany()">AddCompany</button>

            <button type="submit" ng-disabled="!userForm.$valid" class="btn btn-primary " ng-click="updateCompany(companyName, userEmail, Fax, RegistartionNo) ">UpdateCompany</button>
        </form>
    </div>
</div>

<body>
    <div class="col-sm-8 col-sm-offset-2">
        <!-- Default panel contents -->
        <div class="col-sm-8-heading"><span class="lead">List of Users </span></div>
        <div class="tablecontainer">
            <table class="table table-hover" border=2 layout-margin="20px" margin-right: "1.0">
                <div>

                    <thead>
                        <tr>
                            <th>companyName</th>
                            <th>userEmail</th>
                            <th>id</th>
                            <th>fax</th>
                            <th>RegistartionNo</th>
                            <th>status</th>
                            <th colspan="4 ">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-repeat="value in companylist[0] ">
                            <td>{{value.companyName}}</td>
                            <td>{{value.companyInfo.userInfo.userEmail}}</td>
                            <td>{{value._id}}</td>
                            <td>{{value.companyInfo.Fax}}</td>
                            <td>{{value.companyInfo.RegistartionNo}}</td>
                            <td>{{value.companyInfo.status}}</td>

                            <td>
                                <a href ng-click="edit(value._id) "><i class="glyphicon glyphicon-pencil form-control-feedback "></i>Edit</a>
                            </td>
                            <td>
                                <a href ng-click="remove(value._id) "> <i class="glyphicon glyphicon-remove form-control-feedback "></i>Delete</a>
                            </td>
                            <td>
                                <a href ng-click="deactivate(value._id) "><i class="glyphicon glyphicon-remove form-control-feedback "></i>Deactivate</a>
                            </td>
                            <td>
                                <a href ng-click="activated(value._id) "><i class="glyphicon glyphicon-ok form-control-feedback "></i>Activate</a>
                            </td>
                        </tr>
                    </tbody>
            </table>

            </div>
            <div>
                <h1><a href="#!/user " style="color:black "><i class="glyphicon glyphicon-backward form-control-feedback "></i>Back to user</a></h1>
            </div>
        </div>
    </div>
    </div>


</body>


</html>