<html ng-app="app">


        <head>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
           
            <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
           

                <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
               
                <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular-animate.min.js"></script>
             
                <script src="usersApp.js"></script>
              
              </head>
    <tr >
    <body ng-controller="studentsCtrl" >
<h5>Students Details:</h5>
<button data-target="#studentModel.html" data-toggle="model" ng-click="open()">Add_Student</button>

        <table border="2">
<thead>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
	<th>Date Of birth</th>
	<th>Class</th>
    <th>Grades</th>
    <th>Action</th>
</thead>
<tbody>
    <tr >
        <td></td>
    </tr>
</tbody>

        </table>


        <script  ng-controller="studentsCtrl" type="text/ng-template"  id="preeti.html" tabindex="-1">
            <div class="model-dialog" id="model-dialog">
                <div class="model-content" id="model-content">
                    <div class="model-header" id="model-header">
                        <button class="close" data-dismiss="model">&times;</button>
                        <h5>Student Details:</h5>
                        <div class="model-body" id=="model-body">
							<form name="userForm" ng-submit="submitForm()" novalidate>

								<div class="form-group" ng-class="{ 'has-error' : userForm.fName.$invalid && (userForm.fName.$dirty || submitted)}">
									<label>First Name</label>
									<input type="text" name="fName" class="form-control" ng-model="fName" placeholder="First Name" ng-required="true">
									<p ng-show="userForm.fName.$error.required && (userForm.fName.$dirty || submitted)" class="help-block">First name is required.</p>
								</div>

								<div class="form-group" ng-class="{ 'has-error' : userForm.lName.$invalid && (userForm.lName.$dirty || submitted)}">
									<label>Last Name</label>
									<input type="text" name="lName" class="form-control" ng-model="lName" placeholder="Last Name" ng-required="true">
									<p ng-show="userForm.lName.$error.required && (userForm.lName.$dirty || submitted)" class="help-block">Last name is required.</p>
								</div>

								<div class="">
										<div class="form-group">
											<label>Date Of birth</label>
										  <p class="input-group">
											<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
											<span class="input-group-btn">
											  <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
											</span>
										  </p>
								</div>
								
								<div class="form-group" ng-class="{ 'has-error' : userForm.class.$invalid && (userForm.class.$dirty || submitted)}">
									<label>Class</label>
									<select name="class" class="form-control"
									ng-model="class"
									ng-options="class.classId as class.Name for class in classList"
									ng-required="true">
									<option value=''>Select</option>
									</select>
									<p ng-show="userForm.class.$error.required && (userForm.class.$dirty || submitted)" class="help-block">Select class.</p>
								</div>

								 <div class="form-group" ng-class="{ 'has-error' : userForm.grade.$invalid && (userForm.grade.$dirty || submitted)}">
									<label>Grade</label>
									<select name="grade" class="form-control"
									ng-model="grade"
									ng-options="grade.gradeId as grade.Name for grade in gradeList"
									ng-required="true">
									<option value=''>Select</option>
									</select>
									<p ng-show="userForm.grade.$error.required && (userForm.grade.$dirty || submitted)" class="help-block">Select grade.</p>
									</div>
									<div class="modal-footer">
											<button type="submit" class="btn btn-primary" ng-disabled="form.userForm.$invalid" ng-click="save()" >OK</button>
											<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
										</div>
									
						</form>
        
                       
                    </div>
                </div>
            </div>
        
    </script>


        <script src="userServices.js"></script>
        <script src="studentsCtrl.js"></script>
        <script src="studentCtrl.js"></script>
    </body>
   
</html>




