<form name="myForm">
    <table>
        <tr>
            <td>Id</td>
            <td><input type="text" name="id" ng-model="id" required ></td>
            <td><span ng-show="myForm.id.$touched && myForm.id.$invalid">Oops!Id field is required.</span></td>
       </tr>
       <tr>
            <td>First-Name</td>
            <td><input type="text" name="firstName" ng-model="firstName" required ></td>
            <td><span ng-show="myForm.firstName.$touched && myForm.firstName.$invalid">Oops! First Number field is required.</span></td>
       </tr>
       <tr>
            <td>Last-Name</td>
            <td><input type="text" name="lastName" ng-model="lastName" required ></td>
            <td><span ng-show="myForm.lastName.$touched && myForm.lastName.$invalid">Oops! Last Number field is required.</span></td>
       </tr>
       <tr>
           <td>Avatar</td>
           <td><input type="text" name="avatar" ng-model="avatar" required ></td>
           <td><span ng-show="myForm.avatar.$touched && myForm.avatar.$invalid">Oops! Avatar field is required.</span></td>

       </tr>
       <tr>
           <td>				
            
                   <input type="submit"  ng-click="update()"/>
           </td>
       </tr>
</table>
</form>
